---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/navbar.jsx';
---

<Layout title="Welcome to OSM Kerala.">
	<main>
		<div>
			<Navbar client:load />
			<!-- Homepage  -->
			<div class="flex m-2 p-2  justify-center">
				<img src="/osmkeralahero.png" width={300} alt ="hero image" />
			</div>
			<div class="md:flex md:justify-between m-8 p-2 ">
				<div class="md:text-center md:flex items-center md:w-[50%]">
					<p>OpenStreetMap (OSM) Kerala is your gateway to discovering the picturesque Indian state of Kerala through interactive and up-to-date maps. Our dedicated community of mappers and enthusiasts is committed to charting Kerala's diverse landscapes, from lush greenery to serene backwaters.</p>
				</div>
				<div class="flex m-2 p-2  justify-center">
					<img src="/osmcommunity.jpg" width={300} alt ="hero image" />
				</div>
			</div>
		</div>
	</main>
</Layout>

<!-- 

Color Pallete

Sprout
c1d3a3

Killarney
#2b5033

Falcon
#796366

Tulip Tree
#e79d47 

-->
