---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/navbar.jsx';
---

<Layout title="Welcome to OSM Kerala.">
	<main>
		<div>
			<Navbar client:load />
		</div>
	</main>
</Layout>

<!-- 

Color Pallete

Sprout
c1d3a3

Killarney
#2b5033

Falcon
#796366

Tulip Tree
#e79d47 

-->
