---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/navbar.jsx';
import HeadingComponent from '../components/elements/heading';
---

<Layout title="Welcome to OSM Kerala.">
	<main>
		<div>
			<Navbar client:load />	
			<HeadingComponent heading="Maintainers" />
			<div class="w-full max-w-screen-lg mx-auto">
				<table class="table-auto border-collapse w-full">
				  <thead>
					<tr>
					  <th class="border px-4 py-2">Site</th>
					  <th class="border px-4 py-2">Maintainer</th>
					  <th class="border px-4 py-2">Comments</th>
					</tr>
				  </thead>
				  <tbody>
					<tr>
					  <td class="border px-4 py-2"><a href="https://kerala.openstreetmap.in">https://kerala.openstreetmap.in</a></td>
					  <td class="border px-4 py-2">User:Manojk, User:Joice Joseph</td>
					  <td class="border px-4 py-2"></td>
					</tr>
					<tr>
					  <td class="border px-4 py-2"><a href="https://wiki.openstreetmap.org/wiki/Kerala">https://wiki.openstreetmap.org/wiki/Kerala</a></td>
					  <td class="border px-4 py-2"></td>
					  <td class="border px-4 py-2"></td>
					</tr>
					<tr>
					  <td class="border px-4 py-2">osmkerala</td>
					  <td class="border px-4 py-2">manuvarkey, jaisuvyas, joicemjoseph, jinoytommanjaly, manojkmohan, naveenpf, arkarjun</td>
					  <td class="border px-4 py-2"></td>
					</tr>
				  </tbody>
				</table>
			  </div>
			  
		</div>
	</main>
</Layout>