---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/navbar.jsx';
---

<Layout title="Welcome to OSM Kerala.">
	<main>
		<div>
			<Navbar client:load />	
            <h1>Mainatiners</h1>		
		</div>
	</main>
</Layout>