---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/navbar.jsx';
import HeadingComponent from '../components/elements/heading';
---

<Layout title="Welcome to OSM Kerala.">
	<main>
		<div>
			<Navbar client:load />	
			<HeadingComponent heading="Maintainers" />
		</div>
	</main>
</Layout>