---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/navbar.jsx';
---

<Layout title="Welcome to OSM Kerala.">
	<main>
		<div>
			<Navbar client:load />	
            <div class="text-2xl font-bold m-2 p-2 ">Maintainers</div>		
		</div>
	</main>
</Layout>