<footer class="bg-gray-800 text-white mt-8 pt-2 pb-2">
    <div class="container mx-auto py-4">
      <p class="text-center">&copy; Except where otherwise noted, content on this site is licensed under the <a class="text-blue-500" href="https://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA license.</a> 2021</p>
      <ul class="flex justify-center space-x-4">
        <li><a class="text-blue-500 hover:underline" href="https://wiki.openstreetmap.org/wiki/Kerala">Wiki</a></li>
        <li><a class="text-blue-500 hover:underline" href="https://kerala.openstreetmap.in/">Website</a></li>
        <li><a class="text-blue-500 hover:underline" href="https://t.me/osmkerala">Telegram</a></li>
        <li><a class="text-blue-500 hover:underline" href="https://github.com/osmkerala">Github</a></li>
        <li><a class="text-blue-500 hover:underline" href="https://facebook.com/osmkerala/">Facebook</a></li>
        <li><a class="text-blue-500 hover:underline" href="https://twitter.com/search?q=osmkerala">Twitter</a></li>
      </ul>
    </div>
</footer>